 
<script src="~/js/CardManagement.js"></script>
<script src="~/js/userdetails.js"></script>
<script src="~/js/portal.js"></script>
<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        LoadPermanentBlockCardDetails();
    });
</script>
<div class="row justify-content-center" id="blockCard">
 @*   <div class="col-lg-5 col-12">
        <div class="card border-0  bg-gradient-primary-light-reverse mt-4 mb-2">
            <div class="card-body">
                <h6 class="font-weight-bold mb-3">Showing transaction details for</h6>
                <div class="form-group">
                    <label for="exampleFormControlSelect1" class="floating-label">
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>378282246310005</option>
                            <option selected>371449635398431</option>
                            <option>5610591081018250</option>
                            <option>4111111111111111</option>
                        </select>
                        <span class="floating-text">Card Number</span>
                    </label>
                </div>
            </div>
        </div>
    </div>*@
    <div class="col-12">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-12">
                <div class="card shadow mb-4">
                    <div class="card-header bg-gradient-primary text-center py-3">
                        <h6 class="m-0 font-weight-bold text-white">Reissue Card</h6>
                    </div>
                    <div class="card-body">
                        <div class="col-12">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 col-12">
                                    <div class="form-group">
                                        <label for="cardNo" class="floating-label">
                                            <select class="form-control" id="PBlocked_Card">
                                                <option>000000000</option>                                                 
                                            </select>
                                             <li class="text-danger mb-2">
                                                Before Replace the card, Please Makesure is your card Permanently blocked? otherwise nothing is shown in above Dropdown
                                            </li>
                                            <span class="floating-text">Card Number</span>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label for="reason" class="floating-label">
                                            <select class="form-control" id="reason">
                                                <option>Lost</option>
                                                <option selected>Stolen</option>
                                                <option>Not Received</option>
                                            </select>
                                            <span class="floating-text">Reason</span>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label for="reissue" class="floating-label">
                                            <select class="form-control" id="reissue">
                                                <option>Yes</option>
                                                <option selected>No</option>
                                            </select>
                                            <span class="floating-text">Do you want a new card?</span>
                                        </label>
                                    </div>
                                    <div class="text-center">
                                        @*<button class="btn btn-primary"
                                                onclick="showHideFlex('blockCardOTP','blockCard')">
                                            Generate OTP
                                        </button>*@
                                        <a href="" id="replacecard"
                                           class="btn btn-primary">Submit</a>
                                    </div>
                                </div>
                            </div>
                            <div class="notes my-4 small">
                                <h6 class="font-weight-bold">Note</h6>
                                <ul>
                                    <li class="text-danger mb-2">
                                        Lorem ipsum dolor sit amet consectetur adipisicing
                                        elit. Quis sequi, aliquam laboriosam illum eaque libero molestias rem possimus
                                        maiores. Iste rem, sequi dolor voluptates unde beatae voluptatibus? Fugit, quasi
                                        quos?
                                    </li>
                                    <li class="mb-2">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis
                                        sequi, aliquam laboriosam illum eaque libero molestias rem possimus maiores.
                                        Iste rem, sequi dolor voluptates unde beatae voluptatibus? Fugit, quasi quos?
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<div class="row justify-content-center" id="blockCardOTP" style="display:none">
    <div class="col-lg-6 col-md-12 my-4">
        <div class="card">
            <div class="card-body">
                <div class="otpValidation">
                    <form action="javascript: void(0)" class="otp-form" name="otp-form">

                        <div class="text-center">
                            <h4 class="h4 text-gray-900 font-weight-bold">OTP Verification</h4>
                            <p class="text-primary">
                                An otp has been sent to ********k876@gmail.com
                            </p>
                            <p class="text-danger">Please enter OTP to verify</p>
                        </div>
                        <div class="otp-input-fields">
                            <input type="number" class="otp__digit otp__field__1">
                            <input type="number" class="otp__digit otp__field__2">
                            <input type="number" class="otp__digit otp__field__3">
                            <input type="number" class="otp__digit otp__field__4">
                            <input type="number" class="otp__digit otp__field__5">
                            <input type="number" class="otp__digit otp__field__6">
                        </div>
                    </form>
                    <a href="index.html" class="btn btn-primary btn-block bg-gradient-primary mt-4 btn-large">
                        submit
                    </a>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <a href="#">Recent OTP</a>
                        <a href="#" onclick="showHideFlex('blockCard','blockCardOTP')">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

